.phone-preview {
	margin: 0 auto;
	position: relative;
	top: 100px;
	color: #fff;
	background: url(/images/phone.png) top left no-repeat;
	background-size: 100%;
	width: 636px;
	height: 1132px;
	box-sizing: border-box;
	/*transform: scale(0.75);*/
}

.phone-preview .iframe-holder {
	position: absolute;
	top: 94px;
	left: 102px;
	border-radius: 44px;
	overflow: hidden;
	transform: translateY(0px);
	background: #fff;
	width: 432px;
	height: 942px;
}

.phone-preview iframe {
	border: none;
	width: 434px;
	height: 942px;
}