.cancel-button {
	position: absolute;
	top: 17px;
	right: 15px;
	width: 24px;
	height: 24px;
	margin: 0;

	border: none;
	background: #C7C7CC url(/images/cancel.png) center center no-repeat;
	background-size: 50%;
	border-radius: 50%;
}

.cancel-button:focus, .cancel-button:active {
	background-color: #bbb;
}