.search-bar {
	position: absolute;
	left: 0;
	padding: calc(25% + 125px) 0 15px;
	width: 100%;
    min-width: 280px;
	z-index: 100;
}

.waiting .search-bar,
.searching .search-bar {
	transition-property: padding;
	transition-duration: 0.3s;
	transition-delay: 0.1s
}

.searching .search-bar {
	padding-top: 15px;
}

.listing-apps .search-bar {
	position: fixed;
}

.listing-apps .search-bar::before {
	background: url(/images/background.jpg) center center / cover fixed;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	transition-property: background;
	transition-delay: 1s;
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
	.listing-apps .search-bar::before {
		background: none;
	}

	.listing-apps .search-bar {
		-webkit-backdrop-filter: blur(100px);
		backdrop-filter: blur(100px);
	}
}

.search-bar form {
	position: relative;
	max-width: 550px;	
	margin: 0 auto;
	padding: 0 15px;
}

.search-bar input {
	position: relative;
	font-size: 20px;
	border-radius: 6px;
	min-height: 44px;
	padding: 12px 50px 12px 50px;
	border: none;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 600;
	box-sizing: border-box;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	color: #444;
}

.search-bar input[type="text"]:focus { /* You can also use .element.text:focus here */
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgba(0, 0, 0, 0.3);
}

.selected-app.listing-apps input {
	color: #fff;
}

@media (min-width: 450px) {
	.search-bar {
		padding: calc(30% + 145px) 0 30px;
	}

	.searching .search-bar { 
		padding-top: 30px;
	}

	.search-bar input {
		font-size: 24px;
		padding: 15px 50px 15px 60px;
		min-height: 58px;
	}

	.search-bar form {
		width: 85%;
		padding: 0;
	}
}