body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	overflow: hidden;
}

body.listing-apps, body.selected-app {
	overflow: visible;
}

#root {
	position: relative;
	z-index: 2;
	max-width: 760px;
	margin: 0 auto;
}

.background-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(/images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.logo-container {
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 25%;
	text-align: center; 
}

.logo {
	width: 70%;
	max-width: 304px;
	min-width: 250px;
	height: auto;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.searching .logo {
	opacity: 0;
}

.waiting .logo {
	transition-delay: 0.4s;
}

@media (min-width: 450px) {
	.logo-container {
		padding-top: 30%;
	}
}

@keyframes slideUpFadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 25px, 0);
		-webkit-transform: translate3d(0, 25px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0);
		-webkit-transform: translate3d(0);
	}
}