.appstore-page {
	padding-top: 80px;
}

.appstore-page .download-prompt {
	padding: 0 30px;
}


@media (min-width: 450px) {
	.appstore-page {
		padding-top: 140px;
		min-width: 760px;
	}

	.appstore-page .download-prompt {
		flex-grow: 1;
		margin-top: 115px;
	}

	.appstore-page {
		display: flex;
	}
}