.appstore-page {
	padding-top: 80px;
	animation: 0.2s ease-in-out 0s 1 slideUpFadeIn;
	-webkit-animation: 0.2s ease-in-out 0s 1 slideUpFadeIn;
}

.appstore-page .download-prompt {
	padding: 0 30px;
}

@media (min-width: 450px) {
	.appstore-page {
		padding-top: 140px;
	}

	.appstore-page .download-prompt {
		flex-grow: 1;
		padding: 0 15px;
	}

	.appstore-page {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}